@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
:root {
  --c-pri: #2148c0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: var(--c-pri);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
input::placeholder {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  justify-content: center;
}
form input {
  background: none;
  color: #fff;
  padding: 10px 10px 10px 45px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.5s ease;
  width: 100%;
}
form .field {
  position: relative;
}
form .field .iconify {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  font-size: 20px;
}
form input:focus {
  outline: 2px solid rgb(255, 7, 7);
}
form input::placeholder {
  color: #fff;
}
form button {
  background: #fff;
  color: var(--c-pri);
  padding: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}
form p {
  align-self: flex-end;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
form h4 {
  color: #fff;
  align-self: center;
  margin-top: 10px;
  font-weight: lighter;
}
form h4 span {
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
form span#icon {
  color: #fff;
  font-size: 100px;
  text-align: center;
}
img#right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
img#circle-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
img#circle-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.error {
  top: -25px;
  right: 5px;
  position: absolute;
  padding: 5px 20px;
  background: rgb(161, 45, 45);
  color: #ffffff;
  border-radius: 5px;
}
.error::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: rgb(161, 45, 45);
  bottom: -3px;
  transform: rotate(45deg);
}
